name: Run Hello World Scripts
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "Hello World"
  run_script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Run Hello World Script
        run: bash sample-scripts.sh
  
